@model NorthwindMVC2._0.Models.Logins



@{
    ViewBag.Title = "Home Page";
}

@*JQuery, joka suoritetaan aina, kun sivu latautuu*@
@section scripts {
    <script type="text/javascript">
        $(window).on('load', function () { if
            (@ViewBag.LoginError == 1) {
            $('#LoginRuutu').modal('show');
        }
        });
    </script>
}

<script src="https://kit.fontawesome.com/5b79c9c950.js" crossorigin="anonymous"></script>



<main>


    @if (Session["UserName"] == null)
            {
                <div>

                    <h2> KIRJAUDU SISÄÄN NÄHDÄKSESI SALAISUUDET</h2>
                    <p></p>
                </div>
            }


    @if (Session["UserName"] != null)
    {

        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">ASP.NET</h1>
            <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        </section>

        <p>
            <a href="https://www.iltasanomat.fi/" class="btn btn-outline-danger btn-lg"><img src="~/Icons/radioactive.svg" width="50px" alt="ASP.NET" title="asp.net" /><br /><br /> DO NOT CLICK</a>

            <br /><br />
            <a href="https://www.instagram.com/"> <img src="~/Icons/instagram.svg" width="50px" /></a>
            <a href="https://www.facebook.com/"> <img src="~/Icons/facebook.svg" width="50px" /></a>
            <a href="https://www.youtube.com/"> <img src="~/Icons/youtube.svg" width="50px" /></a>
            <br /><br />

        </p>

    }





    @*<p>
        <a href="https://www.iltasanomat.fi/" class="btn btn-outline-danger btn-lg"><img src="~/Icons/radioactive.svg" width="50px" alt="ASP.NET" title="asp.net" /><br /><br /> DO NOT CLICK</a>

        <br /><br />
        <a href="https://www.instagram.com/"> <img src="~/Icons/instagram.svg" width="50px" /></a>
        <a href="https://www.facebook.com/"> <img src="~/Icons/facebook.svg" width="50px" /></a>
        <a href="https://www.youtube.com/"> <img src="~/Icons/youtube.svg" width="50px" /></a>
        <br /><br />

    </p>*@


</main>



<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LoginRuutu">Kirjaudu sisään (Modal)</button>

@*Modal -tyyppisen ikkunan koodiesimerkki*@
<div class="modal" id="LoginRuutu">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Kirjautuminen Northwind-järjestelmään</h1>
            </div>


            <div class="modal-body">

                @using (Html.BeginForm("Authorize", "Home", FormMethod.Post, new { id = "loginForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Logins</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.LoginId)

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" form="loginForm"><i class="fas fa-check"></i></button>
                <a href="@Url.Action("Index", "Home")" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-times"></i></a>
            </div>
        </div>
    </div>
</div>