@model PagedList.IPagedList<NorthwindMVC2._0.Models.Products>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<!--tämä on JQueryä-->
@section scripts {
    <script type="text/javascript">
        $("#singleSelectedCategoryID").on("change", function () {
            //Getting Value
            var selValue = $("#singleSelectedCategoryID").val();
            document.getElementById("ProductCategory").value = selValue;
        });
    </script>
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <div class="input-group">
        <p class="px-1">@Html.Label("Find by name:")</p>
        <p class="px-1">@Html.TextBox("SearchString1", ViewBag.currentFilter1 as string, new { @class = "form-control" })</p>
        <p class="px-1">@Html.Label("Find by Product Category:")</p>
        <p class="px-1">@Html.Hidden("ProductCategory", ViewBag.currentProductCategory as string, new { @id = "ProductCategory", @class = "form-control" })</p> @*piilotettu kenttä, jolla tehdään kontrollerihaku*@
        <p class="px-1">@Html.DropDownList("CategoryID", null, htmlAttributes: new { @id = "singleSelectedCategoryID", @class = "form-control" })</p>
        <p class="px-1"><input type="submit" value="Search" class="form-control" /></p>
    </div>
}



<table class="table">
    <tr>
        <th>@Html.ActionLink("Products", "Index", new { sortOrder = ViewBag.ProductNameSortParm, currentFilter1 = ViewBag.currentFilter1, currentProductCategory = ViewBag.currentProductCategory })</th>

        <th>QuantityPerUnit</th>

        <th>@Html.ActionLink("Unit Price", "Index", new { sortOrder = ViewBag.UnitPriceSortParm, currentFilter1 = ViewBag.currentFilter1 })</th>

        <th>UnitsInStock</th>

        <th>UnitsOnOrder</th>

        <th>ReorderLevel</th>

        <th>Discontinued</th>

        @*<th>@Html.DisplayNameFor(model => model.ImageLink)</th>*@

        <th>Categories.CategoryName</th>

        <th>Suppliers.CompanyName</th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>

            <td>@Html.DisplayFor(modelItem => item.QuantityPerUnit)</td>

            <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>

            <td>@Html.DisplayFor(modelItem => item.UnitsInStock)</td>

            <td>@Html.DisplayFor(modelItem => item.UnitsOnOrder)</td>

            <td>@Html.DisplayFor(modelItem => item.ReorderLevel)</td>

            <td>@Html.DisplayFor(modelItem => item.Discontinued)</td>

            @*<td>@Html.DisplayFor(modelItem => item.ImageLink)</td>*@

            <td>@Html.DisplayFor(modelItem => item.Categories.CategoryName)</td>

            <td>@Html.DisplayFor(modelItem => item.Suppliers.CompanyName)</td>

            <td>
                <a class="btn btn-success" href="~/Products/Edit/@item.ProductID">
                    <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 000-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd" />
                    </svg> Edit
                </a>
                <br /><br />
                <a class="btn btn-secondary" href="~/Products/Details/@item.ProductID">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                    </svg> Details
                </a>
                <br /><br />
                <a class="btn btn-danger" href="~/Products/Delete/@item.ProductID">
                    <svg class="bi bi-x-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd" />
                    </svg> Delete
                </a>
                <br /><br />
            </td>
        </tr>
    }

</table>


<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount 
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter1 = ViewBag.currentFilter1, currentProductCategory = ViewBag.currentProductCategory }))

